@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
* {
    margin: 0;
    padding: 0;
}
body, html {
    min-width: 100%;
    min-height: 100vh;
    background-size: cover;
}

.content-section-container {
    margin: 40px 15px;
}
.text-centered {
    text-align: center;
}

h1, h2, h3, h6 {
    font-weight: 500;
    color: #111235;
}

h2 {
    font-size: 48px;
    color: rgb(12, 16, 12);
    font-weight: 50;
    font-family: Ubuntu;
    margin-bottom: 20px;
}

h3 {
    font-size: 32px;
    color: rgb(12, 16, 12);
    font-weight: 50;
    font-family: Ubuntu;
}

h6 {
    font-size: 18px;
    margin: 0 0 40px;
    font-family: Ubuntu;

}

.header-bold {
    color:rgb(12, 16, 12);
    font-weight: 700;

}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 12px 23px -2px rgba(0,0,0,0.6);
    height: 75px;
}

.content-section-container > img {
    width: 100%;
}

.content-section-container > h1 {
    font-size: 64px;
    font-weight: 500;
    font-family: Ubuntu;
    line-height: 75px;
    margin: 20px 0;
}

.content-section-container > p {
    font-family: Ubuntu;
    line-height: 24px;

}

.btn {
    margin: 2rem;
    width: 225px;
    padding: 20px 0;
    border-radius: 50px;
    text-decoration: none;
    font-family: Ubuntu;
    font-size: 1rem;
    font-weight: 600;
    border-style: none;
}

.btn-primary {
    background-color: rgb(103, 38, 195);
    color: whitesmoke;
}

.btn-secondary {
    background-color: whitesmoke;
    color: #4368AA;
}

.blue-bg {
    background-color: rgb(199, 210, 230);
    width: 100%;
    height: 100%;
    padding: 25px;
    text-align: left;

}

.blue-bg > p {
    line-height: 30px;
    font-family: Ubuntu;
}

.blue-bg > h2 {
    font-size: 48px;
}

.gradient-blue-bg {
    background: linear-gradient(99.85deg, #BAD5FF 0%, #6487BF 100%);
    margin: auto 0;
}

.gradient-blue-bg > img {
    display: block;
}

h5 {
    color: #111235;
    font-weight: 700;
    font-size: 24px;
    font-family: Ubuntu;
    line-height: 28px;
    margin-bottom: 15px;
}

.panel {
    border-radius: 30px;
    padding: 60px 40px;
    margin-bottom: 20px;
}

.panel > h5 {
    width: 85%;
}

.panel-blue {
    background: #E4F0FF;
}

.panel-purple {
    background: rgb(114, 122, 239, 0.1);
}

/*  single styles classes */

.bp-100 {
    padding: 40px 15px;
}

.tp-80 {
    padding-top: 80px;
}

.bm-40 {
    margin-bottom: 40px;
}
